div {
    border: 2px solid blue;
    width: 60vw;
    height: 100vh;
    background-color: aqua;
    margin-left: 5vw;
}

#tit-super {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
}

fieldset {
    flex: 1 1 auto;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-left: 5vw;
    width: 45vw; 
}

#field-cant {
    width: 40vw;
    margin-left: 0vw;
}

button {
    width: 35vw;
    align-content: center;
    margin-left: 3vw;
}

#mi-bot2 {
    margin-left: 5vw;
}

#mi-img {
    height:30vh;
    width: 45vw;
}

option {
    color: black;
    background-color:rgb(175, 247, 255);
}

